@define-color background #FEFFFF;
@define-color foreground #071117;
@define-color color0 #FEFFFF;
@define-color color1 #97A6B0;
@define-color color2 #83A0B1;
@define-color color3 #667F90;
@define-color color4 #446275;
@define-color color5 #25445B;
@define-color color6 #102634;
@define-color color7 #071117;
@define-color color8 #9DA2A7;
