@define-color background #FFFEFF;
@define-color foreground #070707;
@define-color color0 #FFFEFF;
@define-color color1 #E1D4E1;
@define-color color2 #BFF3F3;
@define-color color3 #88ACEA;
@define-color color4 #798D83;
@define-color color5 #475A74;
@define-color color6 #101010;
@define-color color7 #070707;
@define-color color8 #B0A6AF;
