@define-color background #FFFFFA;
@define-color foreground #0E0701;
@define-color color0 #FFFFFA;
@define-color color1 #AB7B73;
@define-color color2 #83837A;
@define-color color3 #C04D33;
@define-color color4 #68524C;
@define-color color5 #700300;
@define-color color6 #200F03;
@define-color color7 #0E0701;
@define-color color8 #9D9282;
