@define-color background #FDFFFF;
@define-color foreground #05090A;
@define-color color0 #FDFFFF;
@define-color color1 #CDDADE;
@define-color color2 #A999A1;
@define-color color3 #7AA2BC;
@define-color color4 #834B51;
@define-color color5 #495D6A;
@define-color color6 #0B1516;
@define-color color7 #05090A;
@define-color color8 #A1ABAD;
