@import "colors.css";

* {
    font-family: FiraCode, "Noto Sans", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
}

#clock,
#battery,
#temperature,
#network,
#pulseaudio,
#bluetooth {
    padding: 0 10px;
    border-radius: 15px;
    background-color: alpha(@foreground, 0.2);
    margin: 10px 10px 10px 0;
}

#workspaces {
    background-color: transparent;
    margin: 10px 10px 10px 25px;
}

#workspaces button {
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
    background-color: alpha(@foreground, 0.2);
    border-radius: 15px;
    margin-right: 10px;
    padding: 4px 10px 2px 10px;
    font-weight: bolder;
    color: @foreground;
}

#workspaces button:hover {
    background-color: alpha(@foreground, 0.4);
}

#workspaces button.active {
    padding: 4px 20px 3px 20px;
    background: linear-gradient(45deg, @color1, @color2);
    background-size: 300% 300%;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px 2px;
    color: @background;
    border: none;
}

#workspaces button label {
    color: @foreground;
    font-weight: bolder;
}

#workspaces button.active label {
    color: @background;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes blink {
    to {
        background-color: @color3;
        color: @background;
    }
}

#bluetooth {
    color: #6E69FF;
    font-size: 15px;
    padding: 4px 10px 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
    transition: all 0.5s ease;
}

#bluetooth.connected {
    background: linear-gradient(90deg,
            alpha(@foreground, 0.2) 0%,
            alpha(@color5, 0.9) 50%,
            alpha(@color1, 0.9) 80%,
            alpha(@foreground, 0.2) 100%);
    font-size: 14px;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: @foreground;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#bluetooth.off {
    background-color: transparent;
    color: @color8;
    box-shadow: none;
}

#clock {
    background: linear-gradient(90deg,
            alpha(@foreground, 0.2) 0%,
            alpha(@color5, 0.9) 50%,
            alpha(@color1, 0.9) 80%,
            alpha(@foreground, 0.2) 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: @foreground;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bolder;
    margin-right: 25px;
    padding: 0 15px;
}

#clock label {
    color: @background;
}

#battery {
    color: @color2;
    font-size: 15px;
    font-weight: bolder;
}

#battery.charging,
#battery.plugged {
    color: @color6;
    background-color: alpha(@background, 0.7);
}

#battery.critical:not(.charging) {
    background-color: alpha(@color1, 0.6);
    color: @foreground;
    animation: blink 0.5s infinite;
}

#network {
    color: @foreground;
    font-weight: bold;
}

#network.disabled {
    background-color: @color8;
}

#network.disconnected {
    background: radial-gradient(circle, alpha(@color5, 0.9) 0%, alpha(@color1, 0.9) 100%);
    padding: 3px 11px 0 10px;
}

#network.linked,
#network.wifi {
    background-color: alpha(@background, 0.7);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    font-weight: 900;
    padding: 0 15px;
}

#network.ethernet {
    background-color: @color3;
}

#pulseaudio {
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    font-weight: bold;
    font-size: 14px;
    color: @foreground;
    padding: 0 15px;
}

#pulseaudio.muted {
    background: alpha(@color1, 0.6);
    animation: none;
    text-shadow: none;
}

#temperature {
    background: linear-gradient(90deg,
        alpha(@foreground, 0.2) 0%,
        rgba(160, 185, 165, 0.5) 50%,
        rgba(130, 155, 135, 0.6) 80%,
        alpha(@foreground, 0.2) 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: @foreground;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
}

#temperature.critical {
    background: linear-gradient(90deg,
        alpha(@foreground, 0.2) 0%,
        rgba(239, 83, 80, 0.8) 50%,
        rgba(211, 47, 47, 0.9) 80%,
        alpha(@foreground, 0.2) 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: @foreground;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
}