* {
    bg-col: #FCFFFAE6;
    fg-col: #151529;
    border-col: #1515291A;
    sel-bg: #337BCC80;
    col0: #FCFFFA;
    col1: #C3BDC6;
    col2: #7BC0CD;
    col3: #EB7B9A;
    col4: #337BCC;
    col8: #9EAC94;
}