* {
    bg-col: #FEFFFFE6;
    fg-col: #071117;
    border-col: #0711171A;
    sel-bg: #44627580;
    col0: #FEFFFF;
    col1: #97A6B0;
    col2: #83A0B1;
    col3: #667F90;
    col4: #446275;
    col8: #9DA2A7;
}