* {
    bg-col: #FDFFFFE6;
    fg-col: #05090A;
    border-col: #05090A1A;
    sel-bg: #834B5180;
    col0: #FDFFFF;
    col1: #CDDADE;
    col2: #A999A1;
    col3: #7AA2BC;
    col4: #834B51;
    col8: #A1ABAD;
}