@define-color background #FFFFFA;
@define-color foreground #100806;
@define-color color1 #C6B7A0;
@define-color color2 #DF9D95;
@define-color color3 #87756F;
@define-color color4 #832C22;
@define-color color5 #42474D;
@define-color color6 #23110D;
