@define-color background #FFFDF1;
@define-color foreground #110A15;
@define-color color1 #9C97AA;
@define-color color2 #EA6F66;
@define-color color3 #827B4B;
@define-color color4 #636777;
@define-color color5 #97334D;
@define-color color6 #26162E;
